{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 12
        }
      }
    ]
  ],
  "plugins": [
    "../packages/babel-plugin-rewire-proxy/lib/index.js"
  ]
}